@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One&family=Righteous&family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2ed573;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    font-family: 'Changa One', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Teko', sans-serif;
}